* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-container {
  display: flex;
}
.about-content {
  float: right;
  width: 70%;
}
.about-img {
  float: right;
  width: 100%;
  margin-right: 20px;
  margin-top: 30px;
}
h2 {
  opacity: 0.8;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 36px;
}
p {
  opacity: 0.8;
  width: 100%;
  margin-top: 20px;
  float: right;
  font-size: medium;
  margin-right: 20px;
  margin-bottom: 20px;
}
