.cafe {
  display: flex;
  justify-content: space-between;
}
.cafe-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 50px;
  margin-bottom: 50px;
}
.cafe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
}

.cafe-grid-hr {
  opacity: 0.4;
  color: #888;
}

.cafe-child-grid {
  background-size: 135%;
  background-position: center center;
  transition: background-size 0.8s ease;
  display: flex;
  text-align: center;
  color: white;
}
.cafe-child-grid:hover {
  background-size: 150%;
}
.shadow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}
.shadow:hover {
  background-color: rgba(0, 0, 0, 0);
}
.cafe-child-grid h3 {
  margin-top: 50px;
  font-size: 24px;
}
.cafe-child-grid p {
  opacity: 1;
}

.cafe-grid-1 {
  background-image: url("../../public/images/cafe-images/1.jpg");
  grid-column: span 2;
}
.cafe-grid-2 {
  background-image: url("../../public/images/cafe-images/2.jpg");
}
.cafe-grid-3 {
  background-image: url("../../public/images/cafe-images/3.jpg");
}
.cafe-grid-4 {
  background-image: url("../../public/images/cafe-images/4.jpg");
}
.cafe-grid-5 {
  background-image: url("../../public/images/cafe-images/5.jpg");
}
.cafe-grid-6 {
  background-image: url("../../public/images/cafe-images/6.jpg");
  grid-column: span 2;
}

.cafe-grid-link {
  color: white;
}
.cafe-grid-link:hover {
  color: white;
}
.cafe-grid-link h5 {
  text-align: center;
}
.cafe-grid-link h4 {
  opacity: 1;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: #111;
}
.cafe-adress h3 {
  color: #3695d9;
}
.cafe-icon-link {
  display: flex;
  width: max-content;
  align-items: center;
}
.cafe-icon-link img {
  width: 30px;
}
.cafe-icon-link p {
  margin-left: 5px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.cafe-work-time p {
  margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
  .cafe-grid {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .cafe-content {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
}
@media screen and (max-width: 960px) {
  .cafe-grid {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 786px) {
  .cafe-grid {
    display: flex;
    flex-direction: column;
  }
  .cafe-child-grid {
    height: 230px;
  }
}
