.hostel {
  display: flex;
  justify-content: space-between;
}
.hostel-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 20px;
  margin-right: 50px;
}
.hostel-content img {
  width: 70%;
  height: 90%;
}
.hostel-content-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hostel-content h3 {
  font-size: 20px;
  opacity: 0.8;
}
.hostel-content h5 {
  font-size: 16px;
  margin-bottom: 20px;
}
.hostel-content p {
  margin-top: 20px;
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  .hostel-content {
    width: 100%;
    padding: 10px;
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) {
  .hostel-content {
    width: 100%;
    padding: 10px;
  }
  .hostel-content-desc {
    flex-direction: column;
  }
  .hostel-content-adress {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .hostel-content img {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .hostel-content-adress h3 {
    font-size: 14px;
    margin-left: 10px;
  }
  .hostel-content-adress h5 {
    font-size: 10px;
    margin-left: 10px;
  }
}
