p {
  margin: 0;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  transition: all 0.5 ease;
}
h5 {
  opacity: 0.6;
  font-weight: 400;
  font-size: 14px;
}
a:hover {
  color: #3695d9;
  transition: color, transform 500ms ease;
}
.jobs {
  display: flex;
  justify-content: space-between;
}
.jobs-content {
  width: 80%;
  margin-top: -50px;
}

.jobs-contacts {
  display: flex;
  margin-left: 50px;
  margin-bottom: 30px;
}
.jobs-contact {
  width: 30%;
  margin-top: 20px;
}
.jobs-greetins {
  margin-bottom: 120px;
  width: 80%;
  margin-left: 50px;
}
