.a {
  text-decoration: none;
}

.reporting-links {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
}
.reporting-link {
  text-decoration: none;
  color: #3695d9;
  margin-bottom: 3px;
}
.reporting-link:hover {
  text-decoration: none;
  color: orange;
  margin-bottom: 3px;
}
