*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


  .phone-contact {
    font-size: 18px;
    font-weight: 600;
   padding: 18px;
    color:white;
    height: 20px;
    margin-left: 950px;
  }
  .phone-contact ul{
    margin-top: -5px;
   position: relative;
   z-index: 2;
      border-radius: 8px;
      display: flex;
    flex-direction: column;
  }  
.phone-contact ul:hover {
  margin-top: -5px;
 position: relative;
 z-index: 2;
    background-color: #564e4e;
    border-radius: 8px;
    display: flex;
  flex-direction: column;
 
  width: 200px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  }
  .phone-contact ul li {
    display: block;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    color: white;
    
  }
  
